{% set graylog_map = {
  'role_required': 'graylog',

  'graylog': {
    'install_version': '3.3.17',
    'upgrade_from_max': '2.5.0',
  },
  'elasticsearch': {
    'min': '5.6.0',
    'max': '6.9.0',
  },
  'mongodb': {
    'min': '3.6.0',
    'max': '4.1.0',
  }
} %}
