{% set graylog_map = {
  'role_required': 'graylog',

  'graylog': {
    'install_version': '3.3.17',
    'upgrade_from_max': '2.5.0',
  },
  'elasticsearch': {
    'min': '5.6.0',
    'max': '6.9.0',
  },
  'mongodb': {
    'min': '3.6.0',
    'max': '4.1.0',
  }
} %}



__________


{% set graylog_compat = {
  '2.5': {'mongo': '3.6', 'es': '5.6'},
  '3.3': {'mongo': '3.6', 'es': '5.6'},
  '4.3': {'mongo': '4.0', 'es': '6.8'},
  '5.1': {'mongo': '4.2', 'es': '7.10'},
  '6.1': {'mongo': '6.0', 'es': '2.11'}  # assuming OpenSearch
} %}
